/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : May 18, 2017, 11:20:01 AM
    Author     : kenny.tchu
*/

#shelves{
    position: absolute;
    top: 65px;
    right: 24px;
}

#shelve1, #shelve2, #shelve3, #shelve4 {
    height:20px;
    width:100%;
    overflow:hidden;
    width: 550px;
    padding-bottom: 48px;
    float: right;
}

.websaver_shelve1, .websaver_shelve2, .websaver_shelve3,.websaver_shelve4 {
    height:150px;
    float:left;
    padding-right: 15px;
    cursor: pointer;
    padding-bottom: 10px;
    padding-left: 20px;
}

#game{
    background-image: url('../images/shelves.png');
    background-repeat: no-repeat;
    height: 351px;
    font-size: 17px;
    text-align: center;
    font-family: 'breebold';
}

#game-playBtn{
    position: absolute;
    left: 300px;
    top: 70px;
    height: 250px;
    width: 250px;
    cursor: pointer;
    z-index: 10000000;
    background-image:  url('../images/items/others/play.png');
}

#game-notify{
    position: relative;
    top: -150px;
    font-size: 5em;
    z-index: 10;
    display: none;
}

#game-timer{
    position : absolute;
    left : 85px;
}

#game-score-parent{
    position : absolute;
    padding-left: 5px;
    padding-top:15px;
}

img.superpose, span.superpose{
    position : absolute;   
}

#game-lives-parent{
    position: relative;
    top: 291px;
}

#game-lives{
    z-index: 40;
    margin-left: -143px;
    margin-top: 29px;
}

#live_1 {
    z-index: 15;
    margin-left: -135px;
    margin-top: -19px;
}
#live_2 {
    z-index: 18;
    margin-left: -144px;
    margin-top:-10px;
}
#live_3 {
    z-index: 25;
    margin-left: -155px;
}

#game-list-items{
    position: relative;
    top: 130px;
    height: 255px;
    width: 185px;
    background-image:  url('../images/items/others/list.png');
}

#game-basket{
    right: 50px;
    top: 262px;   
}

#game-level{
    z-index: 1000;
    padding: 15px 0 10px 0;
    color: #565456;

}

.split-list ul{
    float: left;
    margin-left: 50px;
    list-style-image: url('../images/items/others/checkmark.png');
}
.split-list li{
    line-height: 30px;
    width: 25px;
    max-height: 45px;
}

img.list-fruit{
    margin-bottom: 20px;   
}

img.shadow{
    margin-top: -70px;
}

.clock{
    width: 92px;
    height: 92px;
    border-radius: 50%;
    border: 3px solid #242023;
    float: left;
    margin-top: 15px;
    margin-left: 45px;
    background-color: white;
}

.pie {
    width: 76px;
    height: 76px;
    position: relative;
    border-radius: 50%;
    background-color: #B4D79D;
    margin-top: 5px;
    margin-left: 5px;
}
.block {
    width: 80px;
    height: 80px;
    display: block;
    border-radius: 50%;
    border: 2px dotted #9B999B;
    margin-top: -2px;
    margin-left: -2px;
    position: absolute;
}

#time {
    font-size: 2.1em;
    position: absolute;
    left: 27%;
    top: 20%;
    color: #CDCFD7;
}

.degree {
    /*90 + ( 360 * .1 )*/
    background-image: linear-gradient(90deg, transparent 50%, white 50%), linear-gradient(90deg, white 50%, transparent 50%);
}

.seconds {
    background: #000;
    height: 50%;
    left: 49%;
    position: absolute;
    top: 0;
    transform-origin: 50% 100%;
    width: 3%;
    z-index: 8;
    /*    -ms-transform: rotate(20deg);  IE 9 
        -webkit-transform: rotate(20deg);  Safari 
        transform: rotate(20deg);  Standard syntax */
}

.minutes {
    background: #000;
    height: 50%;
    left: 49%;
    position: absolute;
    top: 0;
    transform-origin: 50% 100%;
    width: 3%;
    z-index: 8;
}

@keyframes blink {
    /**
     * At the start of the animation the dot
     * has an opacity of .2
     */
    0% {
        opacity: .2;
    }
    /**
     * At 20% the dot is fully visible and
     * then fades out slowly
     */
    20% {
        opacity: 1;
    }
    /**
     * Until it reaches an opacity of .2 and
     * the animation can start again
     */
    100% {
        opacity: .2;
    }
}

.saving span {
    /**
     * Use the blink animation, which is defined above
     */
    animation-name: blink;
    /**
     * The animation should take 1.4 seconds
     */
    animation-duration: 1.4s;
    /**
     * It will repeat itself forever
     */
    animation-iteration-count: infinite;
    /**
     * This makes sure that the starting style (opacity: .2)
     * of the animation is applied before the animation starts.
     * Otherwise we would see a short flash or would have
     * to set the default styling of the dots to the same
     * as the animation. Same applies for the ending styles.
     */
    animation-fill-mode: both;
}

.saving span:nth-child(2) {
    /**
     * Starts the animation of the third dot
     * with a delay of .2s, otherwise all dots
     * would animate at the same time
     */
    animation-delay: .2s;
}

.saving span:nth-child(3) {
    /**
     * Starts the animation of the third dot
     * with a delay of .4s, otherwise all dots
     * would animate at the same time
     */
    animation-delay: .4s;
}